<div class="modal-header">
    <h5 class="modal-title " >Ajout d'une question</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<%= render partial: 'questions' ,locals: {item: @question=Question.new} %>

<div class="modal-footer">
   <%= link_to 'Fermer',questions_path, class:"btn btn-dark  mr-3"  %>
   
</div>