<div class="modal-header">
    <h5 class="modal-title " >Ajout d'un jury</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<%= render partial: 'jurys', locals: {item: @liaison_jury=LiaisonJury.new}%>



