
<div class="modal-header">
    <h5 class="modal-title " >Ajout d'un type de projet</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<%= render partial: 'types', locals: {item: @type_projet=TypeProjet.new}%>
<div class="modal-footer">
   <%= link_to 'Fermer',type_projets_path, class:"btn btn-dark  mr-3"  %>
    
   
</div>

               
    