<div class="modal-header">
    <h5 class="modal-title " >Modification d'un projet</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<%= render partial: 'projets', locals: {item: @project}%>
<div class="modal-footer">
   <%= link_to 'Fermer',projects_path, class:"btn btn-dark  mr-3"  %>
    
   
</div>