<div class="modal-header">
    <h5 class="modal-title " >Modification d'une catégorie</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

   <%= render partial: 'categories' ,locals: {item: @categorie} %>

<div class="modal-footer">
   <%= link_to 'Fermer',categories_path, class:"btn btn-dark  mr-3"  %>
    
</div>