

<div class="modal-header">
    <h5 class="modal-title " >Modification d'un groupe</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<%= render partial: 'groupes', locals: {item: @groupe}%>



               
    